<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="https://adrianchadd.blogspot.com/">Blog</a></li>
				<li><a href="/radio">Radio Stuff</a></li>
				<li><a href="/pc">IBM PC Stuff</a></li>
				<li><a href="/apple-i">Apple I Stuff</a></li>
				<li><a href="/apple-ii">Apple II Stuff</a></li>
				<li><a href="/atari">Atari Stuff</a></li>
				<li><a href="/sx64/notes">Commodore SX64 Stuff</a></li>
				<li><a href="/amiga/notes">Amiga Stuff</a></li>
			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<ul>
				<li><a href="mailto:adrian.chadd@gmail.com">gmail</a></li>
				<li><a href="mailto:adrian@creative.net.au">personal email</a></li>
				<li><a href="mailto:adrian@freebsd.org">freebsd email</a></li>
				<li><a href="https://github.com/erikarn">github.com/erikarn</a></li>
				<li><a href="https://twitter.com/erikarn">twitter.com/erikarn</a></li>
				<li><a rel="me" href="https://mstdn.social/@erikarn">Mastodon</a></li>
				</ul>
			</footer>
		</body>
	</html>
